
@model _3_Types_Of_View.Models.Product


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class=" container">

        @*@Html.Partial("_Header")*@
        @* @Html.Partial("_Header",200)*@

        @Html.Action("Header")

        @Html.Partial("_Register_section")
        <h1>Product Index View</h1>



        @Html.ActionLink("Index 1 View Page", "Index1")



    </div>
    @Html.Partial("_footer")
</body>
</html>
